<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.text_field :interest %>
  </div>
  <div class="field">
    <%= f.label :quote_status %><br>
    <%= f.check_box :quote_status %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br>
    <%= f.collection_select( :vehicle_id,Vehicle.all,:id,:vin) %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select( :customer_id,Customer.all,:id,:name )%>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select( :employee_id,Employee.all,:id,:name )%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
