<p id="notice"><%= notice %></p>

<h1 align="left">Quotes</h1>

<table id="quote" class="display" align="left" >
  <thead>
    <tr>
      <th>Duration In Years</th>
      <th>Interest</th>
      <th>Quote status</th>
      <th>Vehicle</th>
      <th>Customer</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.duration %></td>
        <td><%= number_to_percentage(quote.interest, :precision =>2) %></td>
        <td><%= quote.quote_status %></td>
        <td><%= quote.vehicle.vin %></td>
        <td><%= quote.customer.name %></td>
        <td><%= quote.employee.name %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="finance" align="center">
  <table>
    <thead>
    <h1>FINANCING</h1>
    <tr>
      <th width="200">MSRP</th>
      <th width="150">MARKUP</th>
      <th width="150">TAX</th>
      <th width="150">LOAN DURATION</th>
      <th width="150">PRINCIPLE</th>
      <th width="150">INTEREST</th>
      <th width="150">TOTAL</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Quote', new_quote_path %>
