<p id="notice"><%= notice %></p>

<p>
  <strong>Duration In Years:</strong>
  <%= @quote.duration %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @quote.interest %>
</p>

<p>
  <strong>Quote status:</strong>
  <%= @quote.quote_status %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @quote.vehicle.vin %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.employee.name %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
