<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :title_id %><br>
    <%= f.collection_select( :title_id,Title.all,:id,:title )%>
  </div>
  <div class="field">
    <%= f.label :manager_id %><br>
    <%= f.collection_select(:manager_id,Employee.all,:id,:name )%>
  </div>
  <div class="actions">
    <%= f.submit %><br>
    <%= link_to 'Create Title', new_title_path %>
  </div>
<% end %>
