<p id="notice"><%= notice %></p>

<h1 align="center">Employees</h1>

<table align="center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Employee Title</th>
      <th>Manager</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= number_to_phone(employee.phone) %></td>
        <td><%= employee.title.title %></td>
        <td><%= employee.correct %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div align="center">
<%= link_to 'New Employee', new_employee_path %>
</div>