<p id="notice"><%= notice %></p>

<p>
  <strong>Employee Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Employee Title:</strong>
  <%= @employee.title.title %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @employee.correct %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
