<p id="notice"><%= notice %></p>

<h1 align="left">Customers</h1>

<table align="left">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Rating</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= number_to_phone(customer.phone) %></td>
        <td><%= number_with_precision(customer.rating,precision: 3,significant:true )%></td>
        <td><%= customer.status.status %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div align="right">
<%= link_to 'New Customer', new_customer_path %>
</div>