<p id="notice"><%= notice %></p>

<h1 align="left">Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Body Style</th>
      <th>Year</th>
      <th>MSRP</th>
      <th>VIN</th>
      <th>Vehicle status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.body %></td>
        <td><%= vehicle.year %></td>
        <td><%= number_to_currency(vehicle.msrp) %></td>
        <td><%= vehicle.vin %></td>
        <td><%= vehicle.vehicle_status %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
