<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Body Style:</strong>
  <%= @vehicle.body %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>MSRP:</strong>
  <%= @vehicle.msrp %>
</p>

<p>
  <strong>VIN:</strong>
  <%= @vehicle.vin %>
</p>

<p>
  <strong>Vehicle status:</strong>
  <%= @vehicle.vehicle_status %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
