<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>



  <nav class="top-bar">
    <ul class="title-area">

    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li><%= link_to "Customers", customers_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Employees",employees_path  %></li>
        <li class="divider"></li>
        <li><%= link_to "Vehicles",vehicles_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Quotes", quotes_path %></li>
      </ul>


      <ul class="right">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Find Stuff">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Search</a>
            </div>
          </div>
        </li>
      </ul>


    </section>
  </nav>


  <div class="bottom" align="right">
    <div class="small-8 columns"><%= yield %></div>
    <div class="small-6 columns">
      <h2 class="subheader">About Us</h2>
    </div>
  </div>


  </body>
</html>
